.word{
    font-size: 25px;
    margin: 3px;
    padding-left:5px;
}

.wordSelected{
    border-radius: 5px;
    font-size: 25px;
    margin: 3px;
    padding-left:5px;
    /*
    262b2e dark
    dddd light
    background-color: #ddd;
    */
}

.wordCorrect{
    color:green;
}

.wordIncorrect{
    color: red;
}

.wordBox{
    min-width: 100px;
    min-height: 125px;
    max-height: 125px;
}
